{% extends "base.html" %}
{% load static %}

<title>Home Page Template</title>

{% block base_head %}
     <link rel='stylesheet' href='{% static "css/main.css" %}'>
{% endblock %}

{% block content %}

<div class='text-center'>
    <h1>{{ title }}</h1>
</div>

<div class="intro">
    <h3>Introduction</h3>
    <p>TESLA(TwittEr Spam LeArning) is a course project of Texas A&M University CSCE 670 Information Storage and Retrieval.</p>
</div>

<div class="dark-side">
    <h3>Dark Side</h3>
</div>

<div class="links">
    <div class="btn-group ml-2">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Links
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="https://github.com/letheyue/TESLA-twitter-suspension-learning">GitHub</a>
            <a class="dropdown-item" href="https://drive.google.com/open?id=1yNUu5uFplskbshQB2ipT63JYBM0pcPH">Data</a>
            <a class="dropdown-item" href="#">Video</a>
        </div>
    </div>
</div>

{% endblock%}

     
      
