absl-py==0.1.13
astor==0.6.2
beautifulsoup4==4.6.0
bleach==3.1.2
boto==2.48.0
boto3==1.7.4
botocore==1.10.4
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
Cython==0.28.1
DistributedLock==1.2
dj-database-url==0.5.0
Django==1.11.4
django-annoying==0.10.4
django-debug-panel==0.8.3
django-debug-toolbar==1.9.1
django-m2m-history==0.3.6
django-oauth-tokens==0.6.3
django-picklefield==1.0.0
django-storages==1.6.6
django-taggit==0.22.2
docutils==0.14
ez-setup==0.9
future==0.16.0
gast==0.2.0
graphviz==0.8.2
grpcio==1.11.0
gunicorn==19.7.1
h5py==2.7.1
html5lib==0.9999999
idna==2.6
jmespath==0.9.3
Keras==2.1.5
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.2
nltk==3.2.5
numpy==1.14.2
oauthlib==2.0.7
pandas==0.22.0
protobuf==3.5.2.post1
psycopg2==2.7.4
pyparsing==2.2.0
PySocks==1.6.8
pystan==2.17.1.0
python-dateutil==2.6.1
python-memcached==1.59
python-twitter==3.4.1
pytz==2018.3
PyYAML==3.12
requests==2.18.4
requests-oauthlib==0.8.0
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.0.1
simplejson==3.13.2
six==1.11.0
sklearn==0.0
sqlparse==0.2.4
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
tweepy==3.6.0
urllib3==1.22
Werkzeug==0.14.1
whitenoise==3.3.1
